<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>사용자 삭제</h2>
<label for="username">아이디:</label>
<input type="text" id="username" name="username" required>
<input type="button" id="userdeletebtn" value="계정삭제">
<script>
const usernameobj=document.getElementById("username");
const userdeletebtn=document.getElementById("userdeletebtn");
userdeletebtn.addEventListener("click",(e)=>{
//alert(e.target.value);
let username=usernameobj.value;

fetch(`/api/user/${username}`,{
method:'DELETE',
})
.then(response => {
if(!response.ok) throw new Error("delete error!!")
return response.json();
})
.then(data => {console.log(data)})
.catch((error)=>{
console.error(error)
})

})
</script>
</body>
</html>