/* menubar.html과 이어짐 */
nav{
    background-color: rgb(71, 61, 61);
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none; /* a태그 밑줄 삭제 */
    color: white; /* 글자 색 변경(하얀색) */
}
.navbar_logo {
    color:white;
    font-size: 30px;

}
.navbar_logo > i { /* navbar_logo 클래스에 있는 i 태그 */
    font-size: 30px;
}
.navbar_logo > a { /* navbar_logo 클래스에 있는 a 태그 */
    font-size: 30px;
}
.navbar_menu{
    display: flex; 
    list-style-type: none;
}
.navbar_menu li {
    padding: 8px 16px; /* 목록 간에 간격 부여(위아래 여백 8px, 좌우 여백 16px) */
}
.navbar_icon {
    display: flex;
    list-style-type: none;
}
.navbar_icon li {
    padding: 8px 8px; /* 목록 간에 간격 부여(위아래 여백 8px, 좌우 여백 8px) */
}
nav{
    align-items: center; /* logo를 세로 중앙 정렬 */
}
* {
    margin: 0;
    padding: 0;
}
.navbar_menu li:hover {
    background-color: orange;
}
/* 문제 : 글자의 색을 black으로 변경하는 방법을 찾으시오 */
.navbar_menu li:hover a{
    color: black;
}

@media screen and (max-width:600px) {
    nav{
        flex-direction: column;
    }
    /* 문제 : 메뉴의 li의 마우스가 올라갈 때 한행을 모두 색이 변경되게 처리 */
}